####### OS X
.DS_Store*
Icon?
._*


####### Windows
Thumbs.db
ehthumbs.db
Desktop.ini


####### Linux
.directory
*~


####### npm
node_modules
npm-debug.log


####### IDE
.emacs*
*.flymake
.#*
.idea
*.sublime-*
temp
.vscode


####### LibreOffice & MS Office
.~*
~$*


######## project-specific
0perso/*
build/*
render/*
template/*
coverage/*
asset/*
0formation/*

